<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="jumbotron stars">
      <div class="container">
        <h1>IKATS</h1>
        <p>Innovative Toolkit for Analysing Time Series</p>

    <!--   <p><a class="btn btn-warning btn-lg" href="download.html" role="button">IKATS 0.8 released, get it!</a></p>
    -->

      </div>
    </div>

    <div class="container">
        {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
